@font-face {
  font-family: Anybody;
  src: url("./media/Anybody.woff") format("woff");
  font-display: swap
}

body {
  background-color: #d5d5d5;
  font-family: Anybody;
}

.container {

}

.dropTargetContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; /* Optional: Add some gap between items */
}

.boxesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; /* Optional: Add some gap between items */
}

.draggable, .droptarget {
  border: 10px solid white;
  margin: 30px;
  padding: 30px;
  text-align: center;
  color: black;
  font-size: calc(10px + 4vmin);
}

.droptarget {
  border: 10px dashed white;
  transition: border-width 0.5s linear;
}

.hover {
  border-width: 20px;
}

.image {
  margin: 30px;
  padding: 30px;
  height: 100vh;
  border: 10px solid rgb(255, 255, 255);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.droptarget.accepted {
  background-color: white;
  border: 10px dashed #ef543f;
  color: #ef543f;
}

.droptarget.accepted.correct {
  background-color: white;
  border: 10px dashed #8BC53E;
  color: #8BC53E;
}

.droptarget.accepted.incorrect {
  background-color: white;
  border: 10px dashed #D2203E;
  color: #D2203E;
  /* strikethrough */
  text-decoration: line-through;
}